<h1>Редактировать мероприятие</h1>

<%= form_with(model: @event, local: true) do |form| %>
  <% if @event.errors.any? %>
    <div>
      <h2>Ошибки:</h2>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, 'Название' %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, 'Описание' %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :location, 'Место' %><br>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :date, 'Дата и время' %><br>
    <%= form.datetime_select :date %>
  </div>

  <div>
    <%= form.label :price, 'Цена' %><br>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.submit 'Обновить мероприятие' %>
  </div>
<% end %>

<%= link_to 'Назад к списку', events_path %>
