<h2>Создание мероприятия</h2>

<%= form_for @event do |f| %>
  <div class="field">
    <%= f.label :Название %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :Описание %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :Локация %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :"Дата_и_время_(по_МСК)" %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="actions">
    <%= f.submit "Создать" %>
  </div>
<% end %>
