<%= stylesheet_link_tag 'events_show', media: 'all' %>

<main class="main-content">
  <!-- Новый заголовок мероприятия -->
  <header class="event-header">
    <div class="event-header-content">
      <div class="event-header-overlay">
        <h1 class="event-title"><%= @event.title %></h1>
        <p class="event-date-location-price">
          <span class="event-date"><i class="fas fa-calendar-alt"></i> <%= l(@event.date, format: :long) %></span>
          <span class="event-location"><i class="fas fa-map-marker-alt"></i> <%= @event.location %></span>
          <span class="event-price"><i class="fas fa-dollar-sign"></i> <%= @event.price.presence || 0 %> ₽ </span>
        </p>
      </div>
    </div>
  </header>

  <!-- Контейнер с деталями мероприятия -->
  <div class="event-details-container">
    <!-- Описание мероприятия -->
    <section class="event-description-section">
      <h2>Описание</h2>
      <p class="event-description"><%= @event.description %></p>
    </section>

    <!-- Организатор мероприятия -->
    <section class="event-organizer-section">
      <h2>Организатор</h2>
      <p><i class="fas fa-user"></i>
        <%= link_to (@event.organizer.name.presence || @event.organizer.email), user_events_path(@event.organizer) %>
      </p>
    </section>

    <!-- Зарегистрированные пользователи -->
    <section class="event-registered-users-section">
      <h2>Участники</h2>
      <% if @event.users.any? %>
        <ul class="registered-users-list">
          <% @event.users.each do |user| %>
            <li><i class="fas fa-user"></i>   <%= link_to (user.name.presence || user.email), user_events_path(user), class: 'user-link' %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>На это мероприятие пока никто не зарегистрировался.</p>
      <% end %>
    </section>

    <!-- Кнопки действий -->
    <div class="event-actions">
      <% if user_signed_in? && current_user == @event.organizer %>
        <%= link_to 'Редактировать', edit_event_path(@event), class: 'btn btn-edit' %>
        <%= button_to 'Удалить', @event, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-delete' %>
        <%else %>
        <% if user_signed_in? && @event.users.include?(current_user) %>
          <%= button_to 'Отменить регистрацию', event_event_registration_path(@event, current_user.event_registrations.find_by(event_id: @event.id)), method: :delete, class: 'btn btn-cancel' %>
        <% else %>
          <%= button_to 'Записаться', event_event_registrations_path(@event), method: :post, class: 'btn btn-register' %>
        <% end %>
        <% end %>

    </div>

    <!-- Ссылка "Назад к списку" -->
    <div class="back-link">
      <%= link_to 'Назад к списку', events_path, class: 'btn btn-back' %>
    </div>
  </div>
</main>
