<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title><%= content_for?(:title) ? yield(:title) : "EventPlanner" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'header', media: 'all' %>
</head>
<body>
<header class="site-header">
  <div class="container">
    <div class="logo">
      <%= link_to 'EventPlanner', root_path, class: 'logo-link' %>
    </div>
    <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav class="nav-links">
      <%= link_to 'Главная', root_path, class: 'nav-item' %>
      <% if user_signed_in? %>
        <%= link_to 'Мои мероприятия', events_path, class: 'nav-item' %>
        <%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'nav-item logout-button' %>
      <% else %>
        <%= link_to 'Войти', user_session_path, class: 'nav-item' %>
      <% end %>
    </nav>
  </div>
</header>

<main class="main-content">
  <%= yield %>
</main>

<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'header' %>

</body>
</html>
